@keyframes text-shine {
  to { background-position-x: 200% }
}

.current-task {
  font-weight: bold;
  color: white;
  font-size: 1.8rem;
  background: linear-gradient(45deg, #7bc1f6 20%, #ffffff 30%,  #ffffff 70%, #7bc1f6 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: text-shine 60s linear infinite;
}

.current-song {
  font-weight: bold;
  color: white;
  font-size: 1.8rem;
  background: linear-gradient(45deg, #d4992a 20%, #ffffff 30%,  #ffffff 70%, #d4992a 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: text-shine 60s linear infinite;
}

.current-data-wrapper {
  padding: 1rem;
  position: absolute; 
  top: 1rem;
  left: 1rem;
  text-align: left;
}

.current-data-wrapper > div {
  padding: 1rem;
}

.screen {
  width: 100vw;
  height: 100vh;
}
