.vscode
node_modules
server/build
client/build

sounds/*
!sounds/silence.mp3
tts/*
tokens.json
twitchConfig.json
discordWebhookConfig.json
mongoDBConfig.json
spotifyConfig.json
githubConfig.json
sevenTVConfig.json
betterTTVConfig.json
frankerFaceZConfig.json
config.json
chat-exclusion-list.txt

# Storage files
users.json
commands.json
tasks.json