.vscode
node_modules

sounds/*
!sounds/silence.mp3
tts/*
tokens.json
twitchConfig.json
discordWebhookConfig.json
mongoDBConfig.json
spotifyConfig.json
githubConfig.json
sevenTVConfig.json
betterTTVConfig.json
frankerFaceZConfig.json
config.json
chat-exclusion-list.txt