.dashboard {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  &-title {
    font-weight: bold;
    color: #6a4cff;
    width: fit-content;
    background: linear-gradient(135deg, #866dff 0%, #ca22f8 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  hr {
    margin: 2rem 0;
    border: #a36cff solid 1px;
    width: 20rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1rem;
  }

  span {
    padding-right: 0.5rem;
  }

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  a {
    color: #a36cff;

    &:hover {
      color: #c5a7fa;
    }
  }

  button {
    border: 0;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: #a36cff;
    height: 2rem;

    &:hover {
      background-color: #c5a7fa;
    }
  }

  input:not([type='range']) {
    min-width: 1.7rem;
    min-height: 1.7rem;
    font-size: 1.1rem;
  }

  input[type='number'],
  input[type='text'] {
    width: 5rem;
  }

  input[type='checkbox'] {
    padding: 0;
    margin: 0;
  }

  input[type='color'] {
    height: 3rem;
    width: 4rem;
  }

  .chat-modifiers {
    margin: 2rem 0;
    margin-left: 2rem;

    &-row {
      min-height: 3rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin-bottom: 0.5rem;
    }
  }

  .link {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 0.5rem;
  }

  &-tabs-root {
    display: flex;
    flex-direction: column;
    width: 1000px;
  }

  &-tabs-list {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }

  &-tabs-trigger {
    border-radius: 0;
    padding: 0 40px;
    // flex: 1;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    margin-right: 0.2rem;
    user-select: none;
  }

  &-tabs-trigger:first-child {
    border-top-left-radius: 6px;
  }

  &-tabs-trigger:last-child {
    border-top-right-radius: 6px;
  }

  &-tabs-trigger[data-state='active'] {
    box-shadow: inset 0 -1px 0 0 #eee5ff, 0 1px 0 0 #eee5ff;
  }

  &-tabs-content {
    flex-grow: 1;
    padding: 20px;
  }
}