.song {
  font-weight: bold;
  color: white;
  font-size: 2rem;
  background: linear-gradient(45deg, #d4992a 20%, #ffffff 30%, #ffffff 70%, #d4992a 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: text-shine 20s linear infinite;
  padding: 2rem;
}