name: "Pull Request"

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main

jobs:
  server-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
        working-directory: server
      - name: Create config file
        run: cp example.config.json config.json
        working-directory: server
      - name: Run unit tests
        run: npm run test
        working-directory: server

  client-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
        working-directory: client
      - name: Run unit tests
        run: npm run test
        working-directory: client
