
name: "Pull Request"

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main

jobs:
  server-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
        working-directory: server
      - name: Create config file
        run: cp example.config.json config.json
        working-directory: server
      - name: Run unit tests
        run: npm run test
        working-directory: server
